* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background: #363636; */
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: center / cover no-repeat url("/Images/Cool-Garage-Doors-F21-On-Fabul@2x.png");
}

section .div {
    margin: 0% auto;
    color: yellow;
    font-size: 50px;
    text-align: center;
}

section p {
    color: #fff;
    font-size: 16px;
    padding: 20px;
    line-height: 23px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 200px;
}

header ul {
    /* position: absolute; */
    display: flex;
}

header ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

ul li a:hover {
    /* cursor: pointer; */
    color: yellow;
    border-bottom: 3px solid yellow;
}

header ul li a {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

header button {
    background: yellow;
    color: black;
    padding: 5px 9px;
    border-radius: 3px;
}

.btn {
    background: yellow;
    color: black;
    padding: 5px 9px;
    border-radius: 3px;
}

.content {
    margin: 0% auto;
    color: yellow;
    font-size: 40px;
    text-align: center;
    background-color: #363636;
    padding-top: 25px;
}

.contentdiv {
    color: #fff;
    font-size: 16px;
    padding: 20px;
    line-height: 23px;
    padding-bottom: 40px;
}

.Circles {
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 22px;
    font-size: 16px;
}

.Circles .section p {
    padding-top: 10px;
}

.color {
    color: #fff;
    margin-top: 10px;
}

.circle1 {
    width: 70px;
    height: 70px;
    background: center/contain no-repeat url("/Images/dollar.svg");
    border-radius: 50%;
    border: 1px solid yellow;
    background-color: #fff;
}

.circle2 {
    width: 70px;
    height: 70px;
    background: center/30px no-repeat url("/Images/part.svg");
    border: 1px solid yellow;
    border-radius: 50%;
    background-color: #fff;
}

.circle3 {
    width: 70px;
    height: 70px;
    background: center/contain no-repeat url("/Images/labor.svg");
    border: 1px solid yellow;
    border-radius: 50%;
    background-color: #fff;
}

.circle4 {
    width: 70px;
    height: 70px;
    background: center/contain no-repeat url("/Images/card.jpg");
    border: 1px solid yellow;
    border-radius: 50%;
    background-color: #fff;
}

.section {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: yellow;
}