* {
    margin: 0;
    padding: 0;
}

body {
    background-color: palevioletred;
}

.container {
    display: flex;
    justify-content: center;
    margin: 100px auto;
}

.one {
    width: 400px;
    height: 500px;
    border: 7px solid white;
    margin: 5px;
    overflow: hidden;
    position: relative;
}

.one img {
    width: 100%;
    transition-duration: 1s;
}

.one img:hover {
    transform: scale(1.5);
}

.layer3,
.layer4 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    color: #fff;
    z-index: 1;
    font-size: 40px;
    border: 5px solid #fff;
    background: rgba(256, 256, 256, 0.1);
    transition: all 0.5s;
}

.layer3 {
    transform: translateY(-100%);
}

.layer4 {
    transform: translateY(100%);
}

.one:hover .layer3 {
    transform: translateY(0);
}

.one:hover .layer4 {
    transform: translateY(0);
}

.two {
    width: 400px;
    height: 500px;
    border: 7px solid white;
    margin: 5px;
    overflow: hidden;
    position: relative;
}

.two img {
    width: 100%;
    transition-duration: 1s;
}

.two img:hover {
    transform: scale(1.5);
}

.layer5,
.layer6 {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(256, 256, 256, 0.1);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border: 5px solid #fff;
    transition: all 0.5s linear;
    color: #fff;
}

.layer5 {
    transform: translateY(-100%);
}

.layer6 {
    transform: translateY(100%);
}

.two:hover .layer5,
.two:hover .layer6 {
    transform: translateY(0);
}

.three {
    width: 400px;
    height: 500px;
    border: 7px solid white;
    margin: 5px;
    overflow: hidden;
    position: relative;
}

.three img {
    width: 100%;
    transition-duration: 1s;
}

.three img:hover {
    transform: scale(1.5);
}

.layer1,
.layer2 {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(256, 256, 256, 0.1);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border: 5px solid #fff;
    transition: all 0.5s linear;
    color: #fff;
}

.layer1 {
    transform: translateY(-100%);
}

.layer2 {
    transform: translateY(100%);
}

.three:hover .layer1,
.three:hover .layer2 {
    transform: translateY(0);
}

.three:hover .layer1,
.three:hover .layer2 {
    transform: translateY(0);
}