    // SASS
    $bgcolor: #141314;
    $family: 'Lato',
    sans-serif;
    $color:#363636;
    @mixin flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    @mixin images {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    @mixin ImagesPlus {
        background: $color;
        border: 1px solid #fff;
        padding: 5px 8px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
    @mixin flex-relative {
        background: $color;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    @mixin align-center {
        color: #fff;
        text-align: center;
    }
    
    // SASS
    * {
        padding: 0;
        margin: 0;
    }
    
    body {
        background: $bgcolor;
        font-family: $family;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        color: #fff;
        margin-left: 3em;
        margin-right: 90px;
        padding-top: 1em;
        .logo {
            @include flex-center();
            background-color: $color;
            padding: 0.6rem 0.7rem;
            margin-left: 42px;
        }
    }
    
    .uniform {
        margin-left: 6%;
        margin-right: 6%;
    }
    
    .format {
        text-align: center;
        color: #fff;
        letter-spacing: 0.3em;
        padding-top: 0.5em;
        padding-bottom: 1em;
    }
    
    .slider {
        @include flex-center();
        background-color: $color;
        color: #fff;
        width: 100%;
        height: 400px;
        margin-top: 0.4em;
    }
    
    .content {
        h1 {
            color: #fff;
            text-align: center;
            line-height: 3px;
            letter-spacing: 0.7em;
            font-size: 2em;
            padding-top: 1em;
            padding-bottom: 0.2em;
        }
        h3 {
            font-weight: lighter;
            padding-bottom: 0.7em;
            font-size: 13px;
            color: grey;
        }
        p {
            color: grey;
            padding-bottom: 1em;
        }
    }
    
    .letterspacing {
        color: #fff;
        text-align: center;
        letter-spacing: 0.2rem;
        line-height: 1.7rem;
    }
    
    .section {
        text-align: center;
        padding-bottom: 1em;
        a {
            border: 2px solid white;
            color: #fff;
            padding: 7px 20px;
            text-decoration: none;
            line-height: 3em;
        }
    }
    
    .main {
        background-color: $color;
        color: #fff;
        width: 100%;
        height: 400px;
        display: flex;
    }
    
    .image {
        @include images();
    }
    
    .blurb {
        color: #fff;
        text-align: center;
        padding-top: 0.7em;
    }
    
    .color {
        color: grey;
        padding-top: 0.8em;
    }
    
    .plus {
        @include ImagesPlus();
    }
    
    .grid1 {
        display: grid;
        grid-template-rows: 400px 400px;
        grid-row-gap: 0.3em;
        grid-column-gap: 0.3em;
    }
    
    .image1 {
        @include flex-relative();
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .plus1 {
        @include ImagesPlus();
    }
    
    .image2 {
        @include flex-relative();
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .plus2 {
        @include ImagesPlus();
    }
    
    .image3 {
        @include flex-relative();
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .plus3 {
        @include ImagesPlus();
    }
    
    .whitearea {
        display: grid;
        grid-template-columns: 1.5fr 3fr;
        grid-template-rows: 300px;
        grid-row-gap: 0.3em;
        grid-column-gap: 0.3em;
    }
    
    .greybox {
        background-color: rgb(219, 211, 211);
        margin-right: 20px;
        margin-top: 50px;
    }
    
    .breakout {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        background: #fff;
        h3 {
            padding-top: 5em;
            margin-left: 4.3em;
            padding-bottom: 1.5em;
        }
        p {
            margin-left: 5em;
        }
    }
    
    .greybox {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    
    .white {
        background-color: #fff;
        margin-top: 2em;
    }
    
    .grid2 {
        display: grid;
        grid-template-columns: 0.7fr 2fr 2fr;
        grid-template-rows: 400px 400px;
        gap: 0.1rem;
        color: #fff;
        div {
            margin: 0.1rem;
        }
    }
    
    .img1 {
        @include flex-relative();
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .plusOne {
        @include ImagesPlus();
    }
    
    .caption1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .img2 {
        @include flex-relative();
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .plusTwo {
        @include ImagesPlus();
    }
    
    .img3 {
        @include flex-relative();
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .plusThree {
        @include ImagesPlus();
    }
    
    .caption23 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    .decorate {
        border: 3px solid black;
        height: 4rem;
    }
    
    .imagecolor {
        background-color: $color;
    }
    
    .borderCaptionTop {
        border-top: 2px solid #fff;
        padding-top: 0.5em;
        width: 80%;
    }
    
    .caption-para {
        color: $color;
        font-family: 'Lato', sans-serif;
        padding-top: 0.3em;
    }
    
    .borderHeaderTop {
        border-top: 1px solid $color;
        padding: 1rem;
    }
    
    .hr {
        border: none;
        height: 1px;
        background: $color;
    }
    
    .footer {
        text-align: center;
        color: #fff;
        letter-spacing: 0.3em;
        padding-top: 0.7em;
    }
    
    .footer-p {
        color: $color;
        text-align: center;
        line-height: 0.01px;
        padding-bottom: 1.5em;
    }
    
    .block {
        width: 22%;
        margin: 0.1%;
        h4 {
            letter-spacing: 0.2em;
        }
    }
    
    .blocks {
        width: 100%;
        height: 7rem;
        background-color: $color;
    }
    
    .textali {
        @include align-center();
    }
    
    .footerflex {
        @include flex-center();
    }
    
    .footeralign {
        text-align: center;
    }
    
    .footerborder {
        border-top: 2px solid $color;
    }
    
    .flex {
        @include flex-center();
    }
    
    .horizontalrow {
        border: none;
        height: 1px;
        background-color: $color;
        width: 20%;
        margin: auto;
    }
    
    .hr-centeralign {
        text-align: center;
        padding-top: 1em;
    }
    
    .FooterNote {
        text-align: center;
        color: $color;
        padding-top: 1em;
    }
    
    //////////////////******* MEDIA QUERIES*******//////////////////
    // ******* SMART PHONE, ANDROID PHONES, LANDSCAPE IPHONE *******
    /******* @media (min-width: 577px) and (max-width: 768px) *******/
    
    @media (max-width: 576px) {
        .header {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .logo {
                margin-left: 3%;
            }
        }
        .content h1 {
            font-size: medium;
        }
        .grid1 {
            display: flex;
            flex-direction: column;
        }
        .image1 {
            height: 23em;
        }
        .image2 {
            height: 23em;
        }
        .image3 {
            height: 23em;
        }
        .breakoutarea {
            padding-bottom: 5%;
            padding-top: 3%;
            padding-left: 3%;
        }
        .grid2 {
            display: flex;
            flex-direction: column;
            margin-right: 0;
        }
        .img1 {
            height: 23em;
        }
        .caption1 {
            border-top: none;
            text-align: center;
        }
        .img2 {
            height: 23em;
        }
        .caption2 {
            border-top: none;
            text-align: center;
        }
        .img3 {
            height: 23em;
        }
        .caption3 {
            border-top: none;
            text-align: center;
        }
        .footer {
            font-size: small;
            padding-bottom: 2%;
        }
        .flex {
            flex-direction: column;
        }
        .block {
            width: 90%;
        }
        .horizontalrow {
            text-align: center;
        }
        .breakout p {
            font-size: x-small;
        }
    }
    
    @media (min-width:577px) and (max-width:768px) {
        .caption3 {
            padding-bottom: 2%;
        }
        .breakout p {
            font-size: small;
        }
    }